In [3]:
import os,django
import pandas as pd
from orm.models import Siswa,Kelas,Karakter,HasilTes,NilaiAkademik,Plomba,TesOlimpiade,Bobot
import math

In [8]:
sw = Siswa.objects.all()
kl = Kelas.objects.all()
krt = Karakter.objects.all()
ht = HasilTes.objects.all()
na = NilaiAkademik.objects.all()
pl = Plomba.objects.all()
bb = Bobot.objects.all()

In [9]:
def ListNilaiAkademik(na):
    if len(na)>0:
        cols = ['Mata_Pelajaran','Nilai']
        
        kel ={
            cols[0] : [str(a.mata_pelajaran) for a in na],
            cols[1] : [int(a.nilai) for a in na],
        }
        dfmt = pd.DataFrame(data=kel)
        return dfmt
    else:
        return[]
    
def ListHaisilTes(ht):
    if len(ht)>0:
        cols = ['Mata_Pelajaran','Nilai']
        
        htsm ={
            cols[0] : [str(a.mata_pelajaran) for a in ht],
            cols[1] : [int(a.nilai) for a in ht],
        }
        dfhtsm = pd.DataFrame(data=htsm)
        return dfhtsm
    else:
        return[]
    
def ListKarakter(krt):
    if len(krt)>0:
        cols = ['Mata_Pelajaran','Nilai']
        
        kar ={
            cols[0] : [str(a.mata_pelajaran) for a in krt],
            cols[1] : [int(a.nilai) for a in krt],
        }
        dfkar = pd.DataFrame(data=kar)
        return dfkar
    else:
        return[]
    
def ListKelas(kl):
    if len(kl)>0:
        cols = ['Mata_Pelajaran','Nilai']
        
        kel ={
            cols[0] : [str(a.mata_pelajaran) for a in kl],
            cols[1] : [int(a.nilai) for a in kl],
        }
        dfkel = pd.DataFrame(data=kel)
        return dfkel
    else:
        return[]

def ListPlomba(pl):
    if len(pl)>0:
        cols = ['Mata_Pelajaran','Nilai']
        
        plb ={
            cols[0] : [str(a.mata_pelajaran) for a in pl],
            cols[1] : [int(a.nilai) for a in pl],
        }
        dfpl = pd.DataFrame(data=plb)
        return dfpl
    else:
        return[]

###########################untuk menyeleksi data yang bersangkutan dengan olimpiade Biologi##########################


# ##############################Matrix Data Awal###########################################################
def Matrix_DataAwalBio(sw):
    def SlkSiswaBio(sw):
        swa={
            'Nama':[a.siswa for a in kl ],
            'Mata_Pelajaran':[a.mata_pelajaran for a in kl ]
            }
        c= pd.DataFrame(data=swa)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nama))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nama'])
        return df

    def SlkKarakterkBio(sw):
        c= ListKarakter(krt)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkKelasBio(sw):
        c= ListKelas(kl)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkPlombaBio(sw):
        c= ListPlomba(pl)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkNilaiAkademikBio(sw):
        c= ListNilaiAkademik(na)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkHasilTesBio(sw):
        c= ListHaisilTes(ht)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    ######################################rumus perhitungan setiap atribut biologi######################################

    def Hasil_KarakterBio(sw):
        kr=SlkKarakterkBio(sw)
        b = 0
        tampung=[]
        for y in range(len(kr)):
            a=(math.pow(kr.Nilai[y],2))
            b = b+a
        for i in range(len(kr)):
            s = kr.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Karakter=pd.DataFrame(data=tampung,columns=['Karakter'])
        return Karakter

    def Hasil_KelasBio(sw):
        kls=SlkKelasBio(sw)
        b = 0
        tampung=[]
        for y in range(len(kls)):
            a=(math.pow(kls.Nilai[y],2))
            b = b+a
        for i in range(len(kls)):
            s = kls.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Kelas=pd.DataFrame(data=tampung,columns=['Kelas'])
        return Kelas

    def Hasil_PlombaBio(sw):
        plb=SlkPlombaBio(sw)
        b = 0
        tampung=[]
        for y in range(len(plb)):
            a=(math.pow(plb.Nilai[y],2))
            b = b+a
        for i in range(len(plb)):
            s = plb.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Plomba=pd.DataFrame(data=tampung,columns=['Penglaman Lomba'])
        return Plomba

    def Hasil_NilaiAkademikBio(sw):
        nla=SlkNilaiAkademikBio(sw)
        b = 0
        tampung=[]
        for y in range(len(nla)):
            a=(math.pow(nla.Nilai[y],2))
            b = b+a
        for i in range(len(nla)):
            s = nla.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        NilaiAkademik=pd.DataFrame(data=tampung,columns=['NilaiAkademik'])
        return NilaiAkademik

    def HasilTesBio(sw):
        htb=SlkHasilTesBio(sw)
        b = 0
        tampung=[]
        for y in range(len(htb)):
            a=(math.pow(htb.Nilai[y],2))
            b = b+a
        for i in range(len(htb)):
            s = htb.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)

        dfhst=pd.DataFrame(data=tampung,columns=['Hasil Tes'])
        return dfhst

    swa= SlkSiswaBio(sw)
    nak= SlkNilaiAkademikBio(sw)
    krat= SlkKarakterkBio(sw)
    plb= SlkPlombaBio(sw)
    hts= SlkHasilTesBio(sw)
    kls= SlkKelasBio(sw)

    new=pd.concat([swa,nak,krat,plb,hts,kls],axis=1)
    new.columns=['Nama','Nilai_Akademik','Karakter','Pengalaman_lomba','Hasil_Tes','Kelas']
    return new

###############################Matrix Ternormalisasi###########################################################

def Matrix_TernormalisasiBio(sw):
    def SlkSiswaBio(sw):
        swa={
            'Nama':[a.siswa for a in kl ],
            'Mata_Pelajaran':[a.mata_pelajaran for a in kl ]
            }
        c= pd.DataFrame(data=swa)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nama))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nama'])
        return df

    def SlkKarakterkBio(sw):
        c= ListKarakter(krt)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkKelasBio(sw):
        c= ListKelas(kl)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkPlombaBio(sw):
        c= ListPlomba(pl)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkNilaiAkademikBio(sw):
        c= ListNilaiAkademik(na)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkHasilTesBio(sw):
        c= ListHaisilTes(ht)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    ######################################rumus perhitungan setiap atribut biologi######################################

    def Hasil_KarakterBio(sw):
        kr=SlkKarakterkBio(sw)
        b = 0
        tampung=[]
        for y in range(len(kr)):
            a=(math.pow(kr.Nilai[y],2))
            b = b+a
        for i in range(len(kr)):
            s = kr.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Karakter=pd.DataFrame(data=tampung,columns=['Karakter'])
        return Karakter

    def Hasil_KelasBio(sw):
        kls=SlkKelasBio(sw)
        b = 0
        tampung=[]
        for y in range(len(kls)):
            a=(math.pow(kls.Nilai[y],2))
            b = b+a
        for i in range(len(kls)):
            s = kls.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Kelas=pd.DataFrame(data=tampung,columns=['Kelas'])
        return Kelas

    def Hasil_PlombaBio(sw):
        plb=SlkPlombaBio(sw)
        b = 0
        tampung=[]
        for y in range(len(plb)):
            a=(math.pow(plb.Nilai[y],2))
            b = b+a
        for i in range(len(plb)):
            s = plb.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Plomba=pd.DataFrame(data=tampung,columns=['Penglaman Lomba'])
        return Plomba

    def Hasil_NilaiAkademikBio(sw):
        nla=SlkNilaiAkademikBio(sw)
        b = 0
        tampung=[]
        for y in range(len(nla)):
            a=(math.pow(nla.Nilai[y],2))
            b = b+a
        for i in range(len(nla)):
            s = nla.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        NilaiAkademik=pd.DataFrame(data=tampung,columns=['NilaiAkademik'])
        return NilaiAkademik

    def HasilTesBio(sw):
        htb=SlkHasilTesBio(sw)
        b = 0
        tampung=[]
        for y in range(len(htb)):
            a=(math.pow(htb.Nilai[y],2))
            b = b+a
        for i in range(len(htb)):
            s = htb.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)

        dfhst=pd.DataFrame(data=tampung,columns=['Hasil Tes'])
        return dfhst

    swa= SlkSiswaBio(sw)
    na=Hasil_NilaiAkademikBio(sw)
    krt=Hasil_KarakterBio(sw)
    pl=Hasil_PlombaBio(sw)
    htm=HasilTesBio(sw)
    hk=Hasil_KelasBio(sw)
    
    new = pd.concat([swa,na,krt,pl,htm,hk],axis=1)
    return new

###############################Matrix Pembobotan###########################################################

def Matrix_PembobotanBio(sw):
    def SlkSiswaBio(sw):
        swa={
            'Nama':[a.siswa for a in kl ],
            'Mata_Pelajaran':[a.mata_pelajaran for a in kl ]
            }
        c= pd.DataFrame(data=swa)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nama))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nama'])
        return df

    def SlkKarakterkBio(sw):
        c= ListKarakter(krt)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkKelasBio(sw):
        c= ListKelas(kl)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkPlombaBio(sw):
        c= ListPlomba(pl)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkNilaiAkademikBio(sw):
        c= ListNilaiAkademik(na)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkHasilTesBio(sw):
        c= ListHaisilTes(ht)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    ######################################rumus perhitungan setiap atribut biologi######################################

    def Hasil_KarakterBio(sw):
        kr=SlkKarakterkBio(sw)
        b = 0
        tampung=[]
        for y in range(len(kr)):
            a=(math.pow(kr.Nilai[y],2))
            b = b+a
        for i in range(len(kr)):
            s = kr.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Karakter=pd.DataFrame(data=tampung,columns=['Karakter'])
        return Karakter

    def Hasil_KelasBio(sw):
        kls=SlkKelasBio(sw)
        b = 0
        tampung=[]
        for y in range(len(kls)):
            a=(math.pow(kls.Nilai[y],2))
            b = b+a
        for i in range(len(kls)):
            s = kls.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Kelas=pd.DataFrame(data=tampung,columns=['Kelas'])
        return Kelas

    def Hasil_PlombaBio(sw):
        plb=SlkPlombaBio(sw)
        b = 0
        tampung=[]
        for y in range(len(plb)):
            a=(math.pow(plb.Nilai[y],2))
            b = b+a
        for i in range(len(plb)):
            s = plb.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Plomba=pd.DataFrame(data=tampung,columns=['Penglaman Lomba'])
        return Plomba

    def Hasil_NilaiAkademikBio(sw):
        nla=SlkNilaiAkademikBio(sw)
        b = 0
        tampung=[]
        for y in range(len(nla)):
            a=(math.pow(nla.Nilai[y],2))
            b = b+a
        for i in range(len(nla)):
            s = nla.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        NilaiAkademik=pd.DataFrame(data=tampung,columns=['NilaiAkademik'])
        return NilaiAkademik

    def HasilTesBio(sw):
        htb=SlkHasilTesBio(sw)
        b = 0
        tampung=[]
        for y in range(len(htb)):
            a=(math.pow(htb.Nilai[y],2))
            b = b+a
        for i in range(len(htb)):
            s = htb.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)

        dfhst=pd.DataFrame(data=tampung,columns=['Hasil Tes'])
        return dfhst

    swa= SlkSiswaBio(sw)
    na=Hasil_NilaiAkademikBio(sw)*(bb[0].nilai_akademik/100)
    krt=Hasil_KarakterBio(sw)*(bb[0].karakter/100)
    pl=Hasil_PlombaBio(sw)*(bb[0].plomba/100)
    htm=HasilTesBio(sw)*(bb[0].hasil_tes/100)
    hk=Hasil_KelasBio(sw)*(bb[0].kelas/100)
    
    new = pd.concat([swa,na,krt,pl,htm,hk],axis=1)
    return new

###############################Hasil Akhir###########################################################

def Hasil_AkhirBio(sw):
    def SlkSiswaBio(sw):
        swa={
            'Nama':[a.siswa for a in kl ],
            'Mata_Pelajaran':[a.mata_pelajaran for a in kl ]
            }
        c= pd.DataFrame(data=swa)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nama))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nama'])
        return df

    def SlkKarakterkBio(sw):
        c= ListKarakter(krt)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkKelasBio(sw):
        c= ListKelas(kl)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkPlombaBio(sw):
        c= ListPlomba(pl)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkNilaiAkademikBio(sw):
        c= ListNilaiAkademik(na)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    def SlkHasilTesBio(sw):
        c= ListHaisilTes(ht)
        tmpA=list(zip(c.Mata_Pelajaran,c.Nilai))
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp,columns=['Nilai'])
        return df

    ######################################rumus perhitungan setiap atribut biologi######################################

    def Hasil_KarakterBio(sw):
        kr=SlkKarakterkBio(sw)
        b = 0
        tampung=[]
        for y in range(len(kr)):
            a=(math.pow(kr.Nilai[y],2))
            b = b+a
        for i in range(len(kr)):
            s = kr.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Karakter=pd.DataFrame(data=tampung,columns=['Karakter'])
        return Karakter

    def Hasil_KelasBio(sw):
        kls=SlkKelasBio(sw)
        b = 0
        tampung=[]
        for y in range(len(kls)):
            a=(math.pow(kls.Nilai[y],2))
            b = b+a
        for i in range(len(kls)):
            s = kls.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Kelas=pd.DataFrame(data=tampung,columns=['Kelas'])
        return Kelas

    def Hasil_PlombaBio(sw):
        plb=SlkPlombaBio(sw)
        b = 0
        tampung=[]
        for y in range(len(plb)):
            a=(math.pow(plb.Nilai[y],2))
            b = b+a
        for i in range(len(plb)):
            s = plb.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        Plomba=pd.DataFrame(data=tampung,columns=['Penglaman Lomba'])
        return Plomba

    def Hasil_NilaiAkademikBio(sw):
        nla=SlkNilaiAkademikBio(sw)
        b = 0
        tampung=[]
        for y in range(len(nla)):
            a=(math.pow(nla.Nilai[y],2))
            b = b+a
        for i in range(len(nla)):
            s = nla.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)
        NilaiAkademik=pd.DataFrame(data=tampung,columns=['NilaiAkademik'])
        return NilaiAkademik

    def HasilTesBio(sw):
        htb=SlkHasilTesBio(sw)
        b = 0
        tampung=[]
        for y in range(len(htb)):
            a=(math.pow(htb.Nilai[y],2))
            b = b+a
        for i in range(len(htb)):
            s = htb.Nilai[i]
            ad=s/(math.sqrt(b))
            tampung.append(ad)

        dfhst=pd.DataFrame(data=tampung,columns=['Hasil Tes'])
        return dfhst

    swa= SlkSiswaBio(sw)
    na=Hasil_NilaiAkademikBio(sw)*(bb[0].nilai_akademik/100)
    krt=Hasil_KarakterBio(sw)*(bb[0].karakter/100)
    pl=Hasil_PlombaBio(sw)*(bb[0].plomba/100)
    htm=HasilTesBio(sw)*(bb[0].hasil_tes/100)
    hk=Hasil_KelasBio(sw)*(bb[0].kelas/100)
    pl.columns=['pl']
    htm.columns=['htm']
    Benefit=na.NilaiAkademik+krt.Karakter+pl.pl+htm.htm
    Rangking=Benefit-hk.Kelas
    ra=round(Rangking,4)
    bnf=round(Benefit,4)
    bhk=round(hk,4)
    new =pd.concat([swa,bnf,bhk,ra],axis=1)
    new.columns=['Nama','Benefit','Coast','Rangking']
    hasil=new.sort_values(['Rangking'],ascending=[False])
    return hasil

In [18]:
Matrix_DataAwalBio(sw)

          Nama  Nilai_Akademik  Karakter  Pengalaman_lomba  Hasil_Tes  Kelas
0  Satria Wira              85        70                70         80     70
1   Gora Wahyu              80        70                55         88     40

In [2]:
def luar():
    def dalam():
        a = 2
        return a
    b = 3
    return b

AttributeError: 'int' object has no attribute 'dalam'

In [228]:
sw=Siswa.objects.all()
bb= Bobot.objects.all()
tp =TesOlimpiade.objects.all()

In [229]:
def HelpersSoal(label, data):
    out = {
        'labels': label,
        'datasets' : [{
            'data'  : data
        }]
    }
    return out

def getTotalSoal():
    label = []
    data = []
    cball = TesOlimpiade.objects.all()
    for cr in cball:
        label.append(cr.pertayaan)
        c = len(TesOlimpiade.objects.filter(pertayaan=cr.pertayaan))
        data.append(c)
    lc =HelpersSoal(label, data)
    return lc
getTotalSoal()

{'labels': ['apa yang anda lihat ?', 'apa yang anda dengar ?'],
 'datasets': [{'data': [1, 1]}]}

In [230]:
cd =[]
cd.append(1)
cd.append(2)
cd

[1, 2]

In [231]:
def tamab():
    dff=[]
    dff.append(0)
    dff.append("ss")
    return dff
tamab()

[0, 'ss']

In [232]:
def ListTesOlimpiadeBio(tp):
    if len(tp)>0:
        cols = ['mata_pelajaran','no','gambar','pertayaan','jawabanA','jawabanB','jawabanC','jawabanD','jawabanE','kunci']
        
        topd ={
            cols[0] : [str(a.mata_pelajaran) for a in tp],
            cols[1] : [int(a.no) for a in tp],
            cols[2] : [str(a.gambar) for a in tp],
            cols[3] : [str(a.pertayaan) for a in tp],
            cols[4] : [str(a.jawabanA) for a in tp],
            cols[5] : [str(a.jawabanB) for a in tp],
            cols[6] : [str(a.jawabanC) for a in tp],
            cols[7] : [str(a.jawabanD) for a in tp],
            cols[8] : [str(a.jawabanE) for a in tp],
            cols[9] : [str(a.kunci) for a in tp],
        }
        dfmt = pd.DataFrame(data=topd)
        return dfmt
    else:
        return[]
    
def SleksiSoalBio():
    c= ListTesOlimpiadeBio(tp)
    tmpA=list(zip(c.mata_pelajaran,c.no,c.gambar,c.pertayaan,
                  c.jawabanA,c.jawabanB,c.jawabanC,c.jawabanD,c.jawabanE,c.kunci))
    def no():
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][1])
        df=pd.DataFrame(data=tmp, columns=['No'])
        return df

    def gambar():
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][2])
        df=pd.DataFrame(data=tmp, columns=['Gambar'])
        return df
    
    def pertayaan():
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][3])
        df=pd.DataFrame(data=tmp, columns=['Pertayaan'])
        return df

    def jawabanA():
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][4])
        df=pd.DataFrame(data=tmp, columns=['JawabanA'])
        return df

    def jawabanB():
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][5])
        df=pd.DataFrame(data=tmp, columns=['JawabanB'])
        return df

    def jawabanC():
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][6])
        df=pd.DataFrame(data=tmp, columns=['JawabanC'])
        return df

    def jawabanD():
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][7])
        df=pd.DataFrame(data=tmp, columns=['JawabanD'])
        return df

    def jawabanE():
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][8])
        df=pd.DataFrame(data=tmp, columns=['JawabanE'])
        return df
    
    def kunci():
        tmp=[]
        for i in range(len(c)):
            if tmpA[i][0] == "biologi":
                tmp.append(tmpA[i][9])
        df=pd.DataFrame(data=tmp, columns=['Kunci'])
        return df
    
    gabung= pd.concat([no(),gambar(),pertayaan(),jawabanA(),jawabanB(),jawabanC(),jawabanD(),jawabanE(),kunci()],
                      axis=1)

    return gabung
SleksiSoalBio()

,No,Gambar,Pertayaan,JawabanA,JawabanB,JawabanC,JawabanD,JawabanE,Kunci
0,1,gambar/Screenshot_from_2018-10-26_20-05-55.png,apa yang anda lihat ?,as,dd,ff,vv,cc,C
1,1,gambar/Screenshot_from_2018-11-04_13-50-30.png,apa yang anda dengar ?,dd,DD,V,m,bb,E

In [172]:
dd=[2]
dff=['sa']
ll=pd.DataFrame(dd)
lk=pd.DataFrame(dff)
pd.concat([ll,lk],axis=1)

   0   0
0  2  sa

In [221]:
def hitung():
    def angka1():
        a=2
        return a
    def angka2():
        b=2
        return b
    c=angka1()+angka2()
    return c
hitung()

4

In [166]:
pd.concat([ll,lk],axis=1)

TypeError: cannot concatenate object of type "<class 'list'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [2]:
sw=Siswa.objects.all()

def ListNilaiAkademik(sw):
    if len(sw)>0:
        cols = ['Nilai']
        
        kel ={
            cols[0] : [int(a.nilai_akademiks.nilai) for a in sw],
        }
        dfmt = pd.DataFrame(data=kel)
        return dfmt
    else:
        return[]
def ListHaisilTes(sw):
    if len(sw)>0:
        cols = ['Nilai']
        
        htsm ={
            cols[0] : [int(a.hasiltess.nilai) for a in sw],
        }
        dfhtsm = pd.DataFrame(data=htsm)
        return dfhtsm
    else:
        return[]
def ListKarakter(sw):
    if len(sw)>0:
        cols = ['Nilai']
        
        kar ={
            cols[0] : [int(a.karakters.nilai) for a in sw],
        }
        dfkar = pd.DataFrame(data=kar)
        return dfkar
    else:
        return[]
def ListKelas(sw):
    if len(sw)>0:
        cols = ['Nilai']
        
        kel ={
            cols[0] : [int(a.kelass.nilai) for a in sw],
        }
        dfkel = pd.DataFrame(data=kel)
        return dfkel
    else:
        return[]

def ListPlomba(sw):
    if len(sw)>0:
        cols = ['Nilai']
        
        plb ={
            cols[0] : [int(a.plombas.nilai) for a in sw],
        }
        dfpl = pd.DataFrame(data=plb)
        return dfpl
    else:
        return[]


def Hasil_NilaiAkademikG(sw):
    mt=ListNilaiAkademik(sw)
    b = 0
    tampung=[]
    for y in range(len(sw)):
        a=(math.pow(mt.Nilai[y],2))
        b = b+a
    for i in range(len(sw)):
        s = mt.Nilai[i]
        ad=s/(math.sqrt(b))
        tampung.append(ad)
    NilaiAkademik=pd.DataFrame(data=tampung,columns=['NilaiAkademik'])
    return NilaiAkademik

def HasilTesG(sw):
    htmk=ListHaisilTes(sw)
    b = 0
    tampung=[]
    for y in range(len(sw)):
        a=(math.pow(htmk.Nilai[y],2))
        b = b+a
    for i in range(len(sw)):
        s = htmk.Nilai[i]
        ad=s/(math.sqrt(b))
        tampung.append(ad)

    dfhstmtk=pd.DataFrame(data=tampung,columns=['Hasil Tes'])
    return dfhstmtk

def Hasil_KarakterG(sw):
    kr=ListKarakter(sw)
    b = 0
    tampung=[]
    for y in range(len(sw)):
        a=(math.pow(kr.Nilai[y],2))
        b = b+a
    for i in range(len(sw)):
        s = kr.Nilai[i]
        ad=s/(math.sqrt(b))
        tampung.append(ad)
    Karakter=pd.DataFrame(data=tampung,columns=['Karakter'])
    return Karakter

def Hasil_KelasG(sw):
    kl=ListKelas(sw)
    b = 0
    tampung=[]
    for y in range(len(sw)):
        a=(math.pow(kl.Nilai[y],2))
        b = b+a
    for i in range(len(sw)):
        s = kl.Nilai[i]
        ad=s/(math.sqrt(b))
        tampung.append(ad)
    Kelas=pd.DataFrame(data=tampung,columns=['Kelas'])
    return Kelas

def Hasil_PlombaG(sw):
    plb=ListPlomba(sw)
    b = 0
    tampung=[]
    for y in range(len(sw)):
        a=(math.pow(plb.Nilai[y],2))
        b = b+a
    for i in range(len(sw)):
        s = plb.Nilai[i]
        ad=s/(math.sqrt(b))
        tampung.append(ad)
    Plomba=pd.DataFrame(data=tampung,columns=['Penglaman Lomba'])
    return Plomba

# Matrix Awal

def Matrix_Awal():
    swa={'Nama':[a.nama for a in sw ]}
    dfswa= pd.DataFrame(data=swa)
    na=ListNilaiAkademik(sw)
    krt=ListKarakter(sw)
    pl=ListPlomba(sw)
    ht=ListHaisilTes(sw)
    kl=ListKelas(sw)

    new=pd.concat([dfswa,na,krt,pl,ht,kl],axis=1)
    new.columns=['Nama','Nilai_Akademik','Karakter','Pengalaman_lomba','Hasil_Tes','Kelas']
    return new
    
# Gabungan Matrix
    
def Matrix(sw):
    swa={'Nama':[a.nama for a in sw ]}
    dfswa= pd.DataFrame(data=swa)
    na=Hasil_NilaiAkademikG(sw)
    krt=Hasil_KarakterG(sw)
    pl=Hasil_PlombaG(sw)
    htm=HasilTesG(sw)
    hk=Hasil_KelasG(sw)
    
    new = pd.concat([dfswa,na,krt,pl,htm,hk],axis=1)
    return new

# Gabungan Pembobobotan
def Pembobotan(sw):
    swa={'Nama':[a.nama for a in sw ]}
    dfswa= pd.DataFrame(data=swa)
    na=Hasil_NilaiAkademikG(sw)*bb[0].nilai_akademik
    krt=Hasil_KarakterG(sw)*bb[0].karakter
    pl=Hasil_PlombaG(sw)*bb[0].plomba
    htm=HasilTesG(sw)*bb[0].hasil_tes
    hk=Hasil_KelasG(sw)*bb[0].kelas
    
    new = pd.concat([dfswa,na,krt,pl,htm,hk],axis=1)
    return new

# Hasil Akhir
def Hasil_akhir(sw):
    swa={'Nama':[a.nama for a in sw ]}
    dfswa= pd.DataFrame(data=swa)
    na=Hasil_NilaiAkademikG(sw)*bb[0].nilai_akademik
    krt=Hasil_KarakterG(sw)*bb[0].karakter
    pl=Hasil_PlombaG(sw)*bb[0].plomba
    htm=HasilTesG(sw)*bb[0].hasil_tes
    hk=Hasil_KelasG(sw)*bb[0].kelas
    pl.columns=['pl']
    htm.columns=['htm']
    Benefit=na.NilaiAkademik+krt.Karakter+pl.pl+htm.htm
    Rangking=Benefit-hk.Kelas
    ra=round(Rangking,4)
    bnf=round(Benefit,4)
    bhk=round(hk,4)
    new =pd.concat([dfswa,bnf,bhk,ra],axis=1)
    new.columns=['Nama','Benefit','Coast','Rangking']
    hasil=new.sort_values(['Rangking'],ascending=[False])
    return hasil

NameError: name 'Siswa' is not defined

In [3]:
Matrix_Awal()

NameError: name 'Matrix_Awal' is not defined

In [127]:
Matrix(sw)

,Nama,NilaiAkademik,Karakter,Penglaman Lomba,Hasil Tes,Kelas
0,Satria Wira,0.495998,0.465376,0.503545,0.464331,0.552967
1,Gora Wahyu,0.440887,0.465376,0.395643,0.412739,0.315981
2,Azura fransisca,0.440887,0.365652,0.287740,0.438535,0.434474
3,Sagita Putri,0.440887,0.465376,0.503545,0.464331,0.552967
4,Afriani Ibrahim Putri,0.413331,0.465376,0.503545,0.454013,0.315981

In [128]:
Pembobotan(sw)

,Nama,NilaiAkademik,Karakter,Penglaman Lomba,Hasil Tes,Kelas
0,Satria Wira,0.123999,0.093075,0.075532,0.116083,0.082945
1,Gora Wahyu,0.110222,0.093075,0.059346,0.103185,0.047397
2,Azura fransisca,0.110222,0.073130,0.043161,0.109634,0.065171
3,Sagita Putri,0.110222,0.093075,0.075532,0.116083,0.082945
4,Afriani Ibrahim Putri,0.103333,0.093075,0.075532,0.113503,0.047397

In [129]:
Hasil_akhir(sw)

                    Nama  Benefit   Coast  Rangking
4  Afriani Ibrahim Putri   0.3854  0.0474    0.3380
0            Satria Wira   0.4087  0.0829    0.3257
1             Gora Wahyu   0.3658  0.0474    0.3184
3           Sagita Putri   0.3949  0.0829    0.3120
2        Azura fransisca   0.3361  0.0652    0.2710

In [14]:
def Matrix(sw):
    swa={'Nama':[a.nama for a in sw ]}
    dfswa= pd.DataFrame(data=swa)
    na=Hasil_NilaiAkademikG(sw)
    krt=Hasil_KarakterG(sw)
    pl=Hasil_PlombaG(sw)
    htm=HasilTesG(sw)
    hk=Hasil_KelasG(sw)
    
    bna=round(na,4)
    bkrt=round(krt,4)
    bpl=round(pl,4)
    bhtm=round(htm,4)
    bhk=round(hk,4)
        
    new = pd.concat([dfswa,bna,bkrt,bpl,bhtm,bhk],axis=1)
    return new

In [15]:
Hasil_akhir(sw)

                    Nama  Benefit   Coast  Rangking
4  Afriani Ibrahim Putri   0.3854  0.0474    0.3380
0            Satria Wira   0.4087  0.0829    0.3257
1             Gora Wahyu   0.3658  0.0474    0.3184
3           Sagita Putri   0.3949  0.0829    0.3120
2        Azura fransisca   0.3361  0.0652    0.2710