In [5]:
import pandas as pd
import numpy as np
import math
from pandas import DataFrame, read_csv

In [15]:
Hasil_Matrix_A= pd.read_csv('Matrix_Awal.csv')
# cols=['Nama','Matematika','Karakter','Pengalaman Lomba','Hasil Tes MTK','Kelas']
# hasilMatrix=Hasil_Matrix_A[cols]
def Matrix2():
    MTK=Hasil_Matrix_A['Matematika']*0.3
    Karakter=Hasil_Matrix_A['Karakter']*0.15
    PengalamanL=Hasil_Matrix_A['Pengalaman Lomba']*0.15
    HTMTK=Hasil_Matrix_A['Hasil Tes MTK']*0.25
    Kelas=Hasil_Matrix_A['Kelas']*0.15

    Nama=Hasil_Matrix_A['Nama']
    Hasil_MTK=pd.DataFrame(MTK)
    Hasil_Karakter=pd.DataFrame(Karakter)
    Hasil_PengalamanL=pd.DataFrame(PengalamanL)
    Hasil_Tes_MTK=pd.DataFrame(HTMTK)
    Hasil_Kelas=pd.DataFrame(Kelas)
    Matrix_kedua=pd.concat([Nama,Hasil_MTK,Hasil_Karakter,Hasil_PengalamanL,Hasil_Tes_MTK,Hasil_Kelas],axis=1)
    return Matrix_kedua

In [16]:
Matrix2()

,Nama,Matematika,Karakter,Pengalaman Lomba,Hasil Tes MTK,Kelas
0,Satria Wira,0.148799,0.070225,0.075,0.105081,0.049099
1,Gora Wahyu,0.132266,0.070225,0.060,0.111649,0.081832
2,Azura fransisca,0.132266,0.052669,0.045,0.118217,0.065465
3,Sagita Putri,0.132266,0.070225,0.075,0.105081,0.049099
4,Afriani Ibrahim Putri,0.123999,0.070225,0.075,0.118217,0.081832