In [1]:
import pandas as pd
import numpy as np
import math

In [5]:
Kelas= pd.read_csv('Kelas.csv')
cols=['kelas']
hasilkelas=Kelas[cols]
hasilkelas

   kelas
0     45
1     75
2     60
3     45
4     75

In [7]:
b = 0
for y in range(len(hasilkelas)):
    
    a=(math.pow(hasilkelas['kelas'][y],2))
    b = b+a

for i in range(len(hasilkelas)):
    s = hasilkelas['kelas'][i]
    ad=math.sqrt(b)
    ads=s/ad
    
    print(ads)

0.32732683535398854
0.5455447255899809
0.4364357804719847
0.32732683535398854
0.5455447255899809