In [1]:
import pandas as pd
import numpy as np
import math

In [16]:
Karakter= pd.read_csv('Karakter.csv')
cols=['Karakter']
hasilKarakter=Karakter[cols]
hasilKarakter

   Karakter
0         4
1         4
2         3
3         4
4         4

In [17]:
def hasil_karakter(df):
    tampung=[]
    b = 0
    for y in range(len(hasilKarakter)):

        a=(math.pow(hasilKarakter['Karakter'][y],2))
        b = b+a

    for i in range(len(hasilKarakter)):
        s = hasilKarakter['Karakter'][i]
        ad=math.sqrt(b)
        ads=s/ad
        tampung.append(ads)
        a=tampung
        df=pd.DataFrame(data=a,columns=['Nilai'])

    return df

In [15]:
hasil_karakter(df)

      Nilai
0  0.468165
1  0.468165
2  0.351123
3  0.468165
4  0.468165