In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
MTK= pd.read_csv('MTK.csv')
cols=['MTK']

In [3]:
hasilMTK=MTK[cols]
hasilMTK

   MTK
0   90
1   80
2   80
3   80
4   75

In [4]:
b = 0
for y in range(len(hasilMTK)):
    
    a=(math.pow(hasilMTK['MTK'][y],2))
    b = b+a

for i in range(len(hasilMTK)):
    s = hasilMTK['MTK'][i]
    ad=math.sqrt(b)
    ads=s/ad
    
    print(ads)

0.49599764860931356
0.4408867987638343
0.4408867987638343
0.4408867987638343
0.41333137384109464