In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
Pengalaman_lomba= pd.read_csv('Pengalaman_lomba.csv')
cols=['Pengalaman Lomba']
hasilPengalamanlomba=Pengalaman_lomba[cols]
hasilPengalamanlomba

   Pengalaman Lomba
0                75
1                60
2                45
3                75
4                75

In [3]:
b = 0
for y in range(len(hasilPengalamanlomba)):
    
    a=(math.pow(hasilPengalamanlomba['Pengalaman Lomba'][y],2))
    b = b+a

for i in range(len(hasilPengalamanlomba)):
    s = hasilPengalamanlomba['Pengalaman Lomba'][i]
    ad=math.sqrt(b)
    ads=s/ad
    
    print(ads)

0.5
0.4
0.3
0.5
0.5